html {
  padding: 0;
  margin: -1;
}


.box{
  display: flex;
}

.nav {
text-align: left;
align-content: center;
padding: 5px;
border: 1px solid black;
}

.header {
  text-align: center;
  align-content: center;
  padding: 5px;
  border: 1px solid black;
  background-image: url(./label.jpg);
  height: 200px; 
  background-position: top; 
  background-repeat: no-repeat; 
  background-size: cover;

}

.main {
  text-align: center;
  align-content: left;
  padding: 5px;
  border: 1px solid black;
  display: inline-flex;
  width: 70%;
  
}

.side {
  text-align: right;
  align-content: right;
  padding: 5px;
  border: 1px solid black;
  display: inline-flex;
}

.footer {
  text-align: left;
  align-content: center;
  padding: 5px;
  border: 1px solid black;
}
